<launch>
   <!--  <node name="rviz" pkg="rviz" type="rviz" args="-d /home/robert/nomad_thesis/visualnav-transformer/deployment/config/rviz/rviz_config.rviz" /> -->

    <!-- Manual control node launched from script-->

    <!-- Launch the locobot with only use_base -->
    <!-- <include file="$(find kobuki_node)/launch/minimal.launch"></include>  -->
    
    <!-- velocity mulitplexer -->
    <arg name="nodelet_manager_name"  value="nodelet_manager"/>
    <arg name="config_file"           value="/home/robert/nomad_thesis/visualnav-transformer/deployment/config/cmd_vel_mux.yaml"/>
  
    <!-- nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager"/>
    
    <!-- velocity mulitplexer -->
    <include file="$(find yocs_cmd_vel_mux)/launch/cmd_vel_mux.launch">
        <arg name="nodelet_manager_name"  value="$(arg nodelet_manager_name)"/>
        <arg name="config_file"           value="$(arg config_file)"/>
    </include>

</launch>
